<%= simple_form_for @draft do |f| %>
  <% if @draft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@draft.errors.count, "error") %> prohibited this draft from being saved:</h2>
      <ul>
      <% @draft.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :title, label: "Título", input_html: { class: "span6", maxlength: 100 } %>
  <%= f.input :description, label: "Descrição", input_html: { class: "span6", rows: "10" } %>
  <%= f.input :tags, label: "Tags", input_html: { class: "span4", maxlength: 80 } %>
  <div class="control-group">
    <label class="control-label" for="">Criado por</label>
    <div class="controls">
      <p class="text-info"><%= current_user.login %></p>
    </div>
  </div>
  <%= f.submit "Salvar", class: "btn btn-primary" %>
	<%= link_to "Voltar", drafts_path, class: "btn" %>
<% end %>