<h1>Rascunho de Id&eacute;ias</h1>
<hr>
<p id="notice"><%= notice %></p>
<h2><%= @draft.title %></h2>
<p class="lead"><%= @draft.description %></p>
<p>
  <strong>Tags:</strong>
	<% @draft.tags.split(",").each do |item| %>
		<span class="label label-info"><%= item %></span>
	<% end %>
</p>
<p>
  <strong>Criado por:</strong>
  <%= @draft.user.name %>
</p>
<p>
  <strong>Arquivado:</strong>
  <%= @draft.archived %>
</p>
<%= link_to "Editar", edit_draft_path(@draft), class: "btn btn-primary" %>
<%= link_to "Voltar", drafts_path, class: "btn" %>